<div id='content'>
	<div id='main_content'>
			<%= render 'layouts/content/main_bar' %>
	</div>
	<div id='side_bar_content'>
		<%= render 'layouts/content/side_bar' %>
	</div>
	<div class="clear"></div>
</div>