<nav>
	<ul>
		<li><%= link_to "Home",      :controller => "info", :action => 'index' %></li>
		<li><%# link_to "Archive",   :controller => "articles", :action => 'index' %></li>
		<li><%= link_to "About",     :controller => "info",     :action => 'about' %></li>
		<li><%= link_to "Portfolio", :controller => "info",     :action => 'portfolio' %></li>
	</ul>
</nav>